<main>
  <ng-container *ngIf="(produtos$ | async) as produtos; else nenhumProdutoEncontrado">
    <ng-container *ngIf="produtos.length > 0; else nenhumProdutoEncontrado">
      <section fxLayout="row" fxLayoutGap="1rem">

        <button mat-raised-button color="primary" (click)="novoProduto()">
          <mat-icon>add</mat-icon> Novo Produto
        </button>

        <table mat-table [dataSource]="produtos$" class="mat-elevation-z8">
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let produto">{{produto.nome}}</td>
          </ng-container>

          <ng-container matColumnDef="quantidadeAtual">
            <th mat-header-cell *matHeaderCellDef>Quantidade Atual em Estoque</th>
            <td mat-cell *matCellDef="let produto">{{produto.quantidadeAtual}}</td>
          </ng-container>

          <ng-container matColumnDef="quantidadeMinima">
            <th mat-header-cell *matHeaderCellDef>Quantidade Mínima em Estoque</th>
            <td mat-cell *matCellDef="let produto">{{produto.quantidadeMinima}}</td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let produto">
              <button mat-button color="primary" (click)="editarProduto(produto)">Editar</button>
              <button mat-button color="warn" (click)="excluirProduto(produto)">Excluir</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        </table>
      </section>
    </ng-container>
  </ng-container>

  <ng-template #nenhumProdutoEncontrado>
    <section fxLayout="row" fxLayoutAlign="center center">
      <section fxLayout="column" fxLayoutGap="1rem" fxFlex.gt-md="30">
        <button mat-raised-button color="primary" (click)="novoProduto()">
          <mat-icon>add</mat-icon> Novo Produto
        </button>
        <h2>Nenhum produto cadastrado.</h2>
      </section>
    </section>
  </ng-template>
</main>
