<main>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['produtos']" routerLinkActive="active">
          <mat-icon>inventory_2</mat-icon> Produtos
        </a>
        <a mat-list-item [routerLink]="['movimentacoes']" routerLinkActive="active">
          <mat-icon>swap_horiz</mat-icon> Movimentações
        </a>
        <mat-expansion-panel class="mat-nav-list">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>bar_chart</mat-icon> Relatórios
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <a mat-list-item [routerLink]="['relatorio/precos']" routerLinkActive="active">
              Preços
            </a>
            <a mat-list-item [routerLink]="['relatorio/compras']" routerLinkActive="active">
              Compras
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span>Sistema de Estoque</span>
      </mat-toolbar>
      <div class="conteudo" fxLayout="column" fxLayoutGap="20px">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
