<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [opened]>
    <!-- Menu lateral -->
    <mat-nav-list>
      <a mat-list-item [routerLink]="['./pages/mensagens']" routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon matListIcon>chat</mat-icon>
        <span matLine>Mensagens</span>
      </a>

      <a mat-list-item [routerLink]="['./pages/produtos']" routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon matListIcon>inventory_2</mat-icon>
        <span matLine>Produtos</span>
      </a>

      <a mat-list-item [routerLink]="['./pages/movimentacoes']" routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon matListIcon>swap_horiz</mat-icon>
        <span matLine>Movimentações</span>
      </a>

      <!-- RELATÓRIOS -->
      <mat-expansion-panel class="!shadow-none">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>bar_chart</mat-icon>
            <span>Relatórios</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a mat-list-item [routerLink]="['./pages/relatorios/precos']" routerLinkActive="active" (click)="sidenav.close()">
            <mat-icon matListIcon>sell</mat-icon>
            <span matLine>Preços</span>
          </a>

          <a mat-list-item [routerLink]="['./pages/relatorios/compras']" routerLinkActive="active" (click)="sidenav.close()">
            <mat-icon matListIcon>shopping_cart</mat-icon>
            <span matLine>Compras</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- botão menu -->
    <section fxLayout="row">
      <button mat-icon-button class="menu-button" (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </section>

    <!-- conteúdo branco -->
    <section class="router-outlet-wrapper">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
