<main>
  <ng-container *ngIf="(precos$ | async) as precos; else nenhumPrecoEncontrado">

    <ng-container *ngIf="precos.length > 0; else nenhumPrecoEncontrado">

      <section fxLayout="row" fxLayoutGap="1rem">

        <button mat-raised-button color="primary" (click)="emitirRelatorio()">
          <mat-icon>picture_as_pdf</mat-icon> Emitir Relatório em PDF
        </button>

        <table mat-table [dataSource]="precos$" class="mat-elevation-z8">
          <ng-container matColumnDef="produto">
            <th mat-header-cell *matHeaderCellDef>Produto</th>
            <td mat-cell *matCellDef="let produto">{{produto.nome}}</td>
          </ng-container>

          <ng-container matColumnDef="precoCompra">
            <th mat-header-cell *matHeaderCellDef>Preço de Compra</th>
            <td mat-cell *matCellDef="let produto">
              {{ produto.precoCompra != null ? (produto.precoCompra | currency:'BRL':'symbol':'1.2-2':'pt-BR') : 'Preço não cadastrado' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="precoVenda">
            <th mat-header-cell *matHeaderCellDef>Preço de Venda (Sugestão)</th>
            <td mat-cell *matCellDef="let produto">
              {{ produto.precoVenda != null ? (produto.precoVenda | currency:'BRL':'symbol':'1.2-2':'pt-BR') : 'Preço não cadastrado' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="percentualLucro">
            <th mat-header-cell *matHeaderCellDef>Percentual de Lucro</th>
            <td mat-cell *matCellDef="let produto">{{produto.percentualLucro != null ? produto.percentualLucro + '%' : 'Preço não cadastrado'}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        </table>

      </section>

    </ng-container>

  </ng-container>

  <ng-template #nenhumPrecoEncontrado>
    <h1>Nenhum Produto com Preço de Venda Sugerido</h1>
  </ng-template>
</main>
