<main>
  <ng-container>
    <section fxLayout="column" fxLayoutGap="1rem">
      <section fxLayoutAlign="center center">
        <h2 mat-dialog-title>
          {{ data ? 'Editar Produto' : 'Novo Produto' }}
        </h2>
      </section>
      <mat-dialog-content>
        <section fxLayout="column" fxLayoutGap="1rem">
          <form [formGroup]="formulario" fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome" maxlength="50">
              <mat-error *ngIf="formulario.get('nome')?.hasError('required')">
                Campo obrigatório
              </mat-error>
              <mat-error *ngIf="formulario.get('nome')?.hasError('maxlength')">
                Campo deve ter no máximo 50 caracteres
              </mat-error>
            </mat-form-field>
            <section fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between center">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Quantidade em Estoque</mat-label>
                <input matInput type="number" formControlName="quantidadeAtual" maxlength="10">
                <mat-error *ngIf="formulario.get('quantidadeAtual')?.hasError('required')">
                  Campo obrigatório
                </mat-error>
                <mat-error *ngIf="formulario.get('quantidadeAtual')?.hasError('maxlength')">
                  Campo deve ter no máximo 10 caracteres
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Quantidade Mínima</mat-label>
                <input matInput type="number" formControlName="quantidadeMinima">
                <mat-error *ngIf="formulario.get('quantidadeMinima')?.hasError('required')">
                  Campo obrigatório
                </mat-error>
                <mat-error *ngIf="formulario.get('quantidadeMinima')?.hasError('maxlength')">
                  Campo deve ter no máximo 10 caracteres
                </mat-error>
              </mat-form-field>
            </section>
            <section fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between center">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Preço de Compra</mat-label>
                <input matInput
                       appCurrencyMask
                       maxlength="15"
                       formControlName="precoCompra">
                <mat-error *ngIf="formulario.get('precoCompra')?.hasError('maxlength')">
                  Campo deve ter no máximo 15 caracteres
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Percentual de Lucro</mat-label>
                <input matInput type="number" formControlName="percentualLucro">
                <mat-error *ngIf="formulario.get('percentualLucro')?.hasError('maxlength')">
                  Campo deve ter no máximo 3 caracteres
                </mat-error>
              </mat-form-field>
            </section>
          </form>
        </section>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button (click)="cancelar()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="salvar()" [disabled]="formulario.invalid">
          Salvar
        </button>
      </mat-dialog-actions>
    </section>
  </ng-container>
</main>




