<main>
  <ng-container *ngIf="(movimentacoes$ | async) as movimentacoes; else nenhumaMovimentacao">
    <ng-container *ngIf="movimentacoes.length > 0; else nenhumaMovimentacao">
      <section fxLayout="row" fxLayoutGap="1rem">
        <button mat-raised-button color="primary" (click)="novaMovimentacao()">
          <mat-icon>add</mat-icon> Nova Movimentação
        </button>
        <table mat-table [dataSource]="movimentacoes$" class="mat-elevation-z8">
          <ng-container matColumnDef="nomeProduto">
            <th mat-header-cell *matHeaderCellDef>Nome do Produto</th>
            <td mat-cell *matCellDef="let movimentacao">{{movimentacao.produto.nome}}</td>
          </ng-container>
          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef>Tipo de Movimentação</th>
            <td mat-cell *matCellDef="let movimentacao">{{movimentacao.tipo}}</td>
          </ng-container>
          <ng-container matColumnDef="quantidade">
            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
            <td mat-cell *matCellDef="let movimentacao">{{movimentacao.quantidade}}</td>
          </ng-container>
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data da Movimentação/th>
            <td mat-cell *matCellDef="let movimentacao">{{movimentacao.dataMovimentacao}}</td>
          </ng-container>
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let movimentacao">
              <button mat-button color="primary" (click)="editarMovimentacao(movimentacao)">Editar</button>
              <button mat-button color="warn" (click)="excluirMovimentacao(movimentacao)">Excluir</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        </table>
      </section>
    </ng-container>
  </ng-container>

  <ng-template #nenhumaMovimentacao>
    <section fxLayout="row" fxLayoutAlign="center center">
      <section fxLayout="column" fxLayoutGap="1rem" fxFlex.gt-md="30">
        <button mat-raised-button color="primary" (click)="novaMovimentacao()">
          <mat-icon>add</mat-icon> Nova Movimentação
        </button>
        <h2>Nenhuma Movimentação cadastrada.</h2>
      </section>
    </section>
  </ng-template>
</main>
