<h1>Movimentações</h1>
<!--
<h2>Registrar Movimentação</h2>
<form fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
  <mat-form-field>
    <mat-label>Produto</mat-label>
    <mat-select>
      <mat-option *ngFor="let p of produtos" [value]="p.id">{{ p.nome }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tipo</mat-label>
    <mat-select>
      <mat-option value="ENTRADA">Entrada</mat-option>
      <mat-option value="SAIDA">Saída</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Quantidade</mat-label>
    <input matInput type="number">
  </mat-form-field>

  <button mat-raised-button color="primary">
    <mat-icon>save</mat-icon> Registrar
  </button>
</form>

<h3>Últimas movimentações</h3>
<mat-list>
  <mat-list-item *ngFor="let m of movimentacoes">
    <mat-icon matListIcon>{{ m.tipo === 'ENTRADA' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
    <h4 matLine>{{ m.produto.nome }} - {{ m.quantidade }}</h4>
    <p matLine>{{ m.data | date:'short' }}</p>
  </mat-list-item>
</mat-list>
-->
